*{
    box-sizing: border-box;
}
.nav1{
    background-color: #868686;
    color: white;
    padding: 5px;
    text-align: center !important;
}   
.nav2{
    background-color: white;
    color: #7c7c7c;
    padding: 10px;
    font-size: 20px;
}
.nav2 h3{
    color: #787878;
}
.nav3 img{
    width: 1688px;
    height: 500px;
}
.container1{
    padding: 50px 350px;
}
.container2{
    background-color: #f3f3f3;
    padding: 50px 350px;
}
.container3{
    background-color: #575757;
    padding: 20px 350px;
}
.container4{
    background-color: #f3f3f3;
    padding: 50px 350px;
}
.title{
     padding: 10px 0;
     text-decoration: underline red ;
}
.title-container3{
   text-align: right;
    color: white;
}
.search-container input{
    padding: 20px 195px 20px 10px;
    float: none;
    display: block;
    text-align: left;
    margin: 0;
    /* padding: 20px; */
}
.search-container button {
    float: right;
    padding: 22px 20px 18px 18px;
    margin-top: 1px;
    margin-bottom: 2px;
    background: #be001d;
    color: white;
  }
  .logo-cmc{
      padding: 0 30px 0 130px;
  }
  .text-logo p{
    color: #da3f57;
    text-align: center;
}
/* @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
} */